<?xml version="1.0"?>
<!--
/**
 * Zkilleman_Twitter
 *
 * Copyright (C) 2011 Henrik Hedelund (henke.hedelund@gmail.com)
 *
 * This file is part of Zkilleman_Twitter.
 *
 * Zkilleman_Twitter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Zkilleman_Twitter is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Zkilleman_Twitter.  If not, see <http://www.gnu.org/licenses/>.
 *
 * PHP Version 5.1
 *
 * @category  Zkilleman
 * @package   Zkilleman_Twitter
 * @author    Henrik Hedelund <henke.hedelund@gmail.com>
 * @copyright 2011 Henrik Hedelund (henke.hedelund@gmail.com)
 * @license   http://www.gnu.org/licenses/lgpl.html GNU LGPL
 * @link      https://github.com/henkelund/magento-zkilleman-twitter
 */
-->
<config>
    <tabs>
        <social translate="label" module="twitter">
            <label>Social</label>
            <sort_order>150</sort_order>
        </social>
    </tabs>
    <sections>
        <twitter translate="label" module="twitter">
            <label>Twitter</label>
            <tab>social</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="twitter">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <service_url translate="label" module="twitter">
                            <label>Service url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </service_url>
                        <search_term translate="label" module="twitter">
                            <label>Search term</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_term>
                        <lifetime_days translate="label comment" module="twitter">
                            <label>History lifetime</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <comment><![CDATA[Lifetime in days. Set to '0' or leave blank to never clean history. This feature requires a properly configured cron routine.]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lifetime_days>
                        <update_interval translate="label comment" module="twitter">
                            <label>Update interval</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <comment><![CDATA[The feed widget update interval in seconds. Could be set to 0 to refresh on each page load but you should be nice to twitter. If you change this value, a Block Cache refresh is needed aswell.]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </update_interval>
                        <product_hashtag translate="label comment" module="twitter">
                            <label>Product hashtag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[Wheter to use product specific search term when available.]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_hashtag>
                        <hashtag_prefix translate="label comment" module="twitter">
                            <label>Hashtag prefix</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Only applicable if &quot;Product hashtag&quot; is set to &quot;Yes&quot;.]]></comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hashtag_prefix>
                        <show_retweets translate="label comment" module="twitter">
                            <label>Show retweets</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_retweets>
                    </fields>
                </general>
            </groups>
        </twitter>
    </sections>
</config>
